<%= render "shared/header"%>

<div class='menu-main'>
  <ul class='btn-area'>
    <li><%= link_to "お客様リスト", customers_path, class: 'sign-btn'%></li>
    <li><%= link_to "ログイン", user_session_path, class: 'sign-btn'%></li>
  </ul>
</div>