<header>
  <div class='header-area'>
    <div class='header-left'>
      <%= link_to "VisitHistory", "#", class: 'header-title'%>
    </div>
    <div class='header-light'>
      <ul class='header-light-list'>
        <li><%= link_to "name", "#", class: 'user-btn'%></li>
        <li><%= link_to "ログアウト", "#", class: 'user-btn'%></li>
      </ul>
    </div>
  </div>
</header>