<%= render "shared/header" %>

<div class='main'>
  <div class='page-title'>お客様リスト</div>

  <div class='customers'>
    <div class='customer-list'>
      <div class='customer-list-top'>福岡県福岡市博多区博多駅前1丁目1-1</div>
      <div class='customer-list-bottom'>前回の履歴が表示</div>
    </div>
    <div class='customer-list'>
      <div class='customer-list-top'>福岡県福岡市博多区博多駅前1丁目1-1</div>
      <div class='customer-list-bottom'>前回の履歴が表示</div>
    </div>
  </div>

</div>